@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'sans','Inter', sans-serif; /* Assuming 'Inter' is imported */
    color: #333; /* Example text color */
  }

  .bg-main {
    background-color: #6c3a44
  }
  .bg-main2{
    background-color: #6c3a4424;
  }

  .bg-main3 {
    background-color: #cf9874;
  }

  .bg-footer {
    background-color: #121212;
  }

  .no-hover-overlay {
    pointer-events: none;
  }
  
  .map-container {
    height: 50vh;
    width: 100%;
  }
  
  
  /* styles.css */

.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

html {
  scroll-behavior: smooth;
}
